
.new-password_password {
    border-radius: 12px;
    background: #FFF;
    width: 366px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 33px 47px 47px 41px;
    position: relative;
}

.new-password_logo {
    margin-bottom: 38px;
}

.new-password_login {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.05px;
    margin-bottom: 16px;
}

.new-password_input {
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.05px;
    border: none;
    border-bottom: 1px solid #D0CECE;
    outline: none;
}

.new-password_div {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 25px;
}

.new-password_button {
    margin-top: 25px;
}
.new-password_div-login {
    gap: 35px;
    display: flex;
    flex-direction: column;
}


.new-password_button:hover {
    background: var(--palette-purple-90, #3b096d);
}
