.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 140px;
	padding-right: 140px;
}

.btn-purple {
	border-radius: 46px;
	background: var(--palette-purple-90, #580ea2);
	color: #fff;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 133.333%;
	letter-spacing: -0.05px;
	transition: all 0.3s ease 0s;
	padding-top: 12px;
	padding-bottom: 16px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 275px;
	cursor: pointer;
}

.btn-purple:hover {
	background: #3f007d;
}

.btn-purple:active {
	background: #271a58;
}
